.Faq {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
}
.faqTitle {
    font-size: 32px; 
    font-weight: 700; 
    color: #1E1F36; 
    text-align : center; 
    margin-bottom: 35px; 
}

@media screen and (min-width: 1440px) {
    .Faq {
        width: 350px; 
        margin-left: 90px; 
    }
    .faqTitle{
        text-align: left; 
    }
}