.FaqContainer {
    padding: 25px; 
    padding-bottom: 45px; 
    width: 325px; 
    border-radius: 22px; 
    background-color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

@media screen and (min-width: 1440px) {
    .FaqContainer {
        position: relative; 
        width: 920px;
        height: 510px; 
        flex-direction: row; 
        overflow: hidden; 
    }
}