.QuestionBox {
    display: flex; 
    flex-direction: column; 
    position: relative; 
    padding-bottom: 15px; 
    border-bottom: 1px solid #E8E8EA; 
}
.QuestionBox:not(first-child){
    padding-top: 15px; 
}
.question {
    font-size: 13px; 
    font-weight: 400; 
    color: #4B4C5F; 
    margin-bottom : 10px; 
}
.question:after {
    content: url('../images/icon-arrow-down.svg'); 
    align-self: flex-end; 
    position: absolute; 
    right: 0; 
}


.answer {
    font-size: 12px; 
    font-weight: 400; 
    color: #787887; 
    display: none; 
}
.active .answer{
    display: block; 
}
.active .question{
    font-weight: 700; 
    color: #1E1F36; 
}
.active .question:after{
    content: url('../images/icon-arrow-down.svg'); 
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}
.hidden {
    display: none; 
}